<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Suite">

	<!-- Test 1 -->
	<test name="Login Tests">
		<classes>
			<class name="com.orangehrm.test.NewLoginPageTest" />
			<class name="com.orangehrm.test.HomePageTest" />
		</classes>
	</test>


	<!-- Test 2 -->
	<test name="Home Tests">
		<classes>
			<class name="com.orangehrm.test.NewLoginPageTest" />
			<class name="com.orangehrm.test.HomePageTest" />
		</classes>
	</test>

</suite>